<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Filmlist</title>
	<meta http-equiv="Content-Type" content="text/html" charset=UTF-8/>
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
<div>
	<div>
		<!-- <h1 align="center">Best films</h1>  -->
		<!-- <p align="center"><a href="/index">INDEX</a></p> -->
		<div>
			<div align="center"><h1>FILMS</h1></div>
			<div align="center"><h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3></div>
			<div align="center">
				<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
				</form>
			</div>
	</div>
	<br>
	</div>
	<table class="table table-striped">
		<tbody>
			<tr>
				<td align="center"><b>Title</b></td>
				<td align="center"><b>Director</b></td>
				<td align="center"><b>Release Year</b></td>
				<td align="center"><b>Runtime (min)</b></td>
				<td align="center"><b>Genre</b></td>
				<td align="center"><b>Keywords</b></td>
				<td sec:authorize="hasAuthority('ADMIN')" align="center" colspan="2"><b> </b></td>
				<!-- <td align="center" colspan="2"><b> </b></td> -->
			</tr>
			
			<tr th:each = "film : ${films}">
				<td align="center" th:text="${film.title}"></td>
				<td align="center" th:text="${film.director}"></td>
				<td align="center" th:text="${film.relYear}"></td>
				<td align="center" th:text="${film.duration}"></td>
				<td align="center" th:text="${film.genre.name}"></td>
				<td align="center">Keywords here, ManyToMany</td>
				<td align="center" sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${film.id})}" class="btn btn-xs btn-danger">Delete</a></td>
				<td align="center" sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/editfilm/{id}(id=${film.id})}">Edit</a></td>
				<!-- <td><a th:href="@{/delete/{id}(id=${film.id})}" class="btn btn-danger">Delete</a></td>
				<td><a th:href="@{/editfilm/{id}(id=${film.id})}">Edit</a></td> -->
			</tr>
			<tr sec:authorize="hasAuthority('ADMIN')">
				<td colspan="7"></td>
				<td align="center" sec:authorize="hasAuthority('ADMIN')"><a href="/add" class="btn btn-success">Add a Film</a></td>
			</tr>
		</tbody>
	</table>
	<!-- <p><a href="/add" class="btn btn-success">Add a Film</a></p> -->
</div>
</body>
</html>